<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Facedash - FACEBOOK INSIGHTS</title>
	<link rel="stylesheet" href="/css/style.css">


</head>
<body>
	

	<div id="layout">
		<div id="header">
			<a href="/">
				<span>FACEDASH.PW</span>
				<p>FACEBOOK INSIGHTS</p>
			</a>
		</div>
		<div id="content">
			<div id="wood">
				<div class="whiteBlockIndex">
					<a href="/user.html" class="button facebook">SIGN UP WITH FACEBOOK</a>
				</div>
			</div>
			<div id="copyright">
				<a href="#" class="what ajax" id="toogleBlock" rel="about">What is it?</a>
				<p>&copy; 2013 for <a href="#">DjangoDash.com</a></p>
			</div>
		</div>
		<div id="footer">
			<div id="about" class="hide">
					
					<h1>
						A coub is a looped video
up to 10 seconds long</h1>
						<p>
Turn your favorite videos into coubs online.
Share them with friends and enjoy
what others create.
					</p>
				</div>
			<a href="#" class="django"></a>
			<a href="#" class="djangdash"></a>
			<a href="#" class="facebook"></a>
		</div>
	</div>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>