@font-face {
  font-family: 'FiraSans Regular';
  src:  url('../font/FiraSans-Regular.eot');
  src:  url('../font/FiraSans-Regular.ttf') format('truetype'),
  url("../font/FiraSans-Regular.woff") format("woff");
  
}
@font-face {
  font-family: 'FiraSans Light';
  src:  url('../font/FiraSans-Light.eot');
  src:  url('../font/FiraSans-Light.ttf') format('truetype'),
  url("../font/FiraSans-Light.woff") format("woff");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body{
	font-family: 'FiraSans Regular', Arial,Helvetica,sans-serif;
  background: url('../images/background.png');
  color:#FFF;
}

h1, h2, h3, h4, h5, h6{
  margin-bottom:10px;
  font-family: 'FiraSans Light' 
}
h2.caption{
  text-align: center;
  font-size:60px;
  padding:20px 0 40px 0;
  margin-bottom:40px;
  border-bottom:1px solid #CCC;
}
.hide{
  display: none
}
.clear{clear:both;}
a{color:#AAA;} 
a:hover{color:#FFF;} 
.ajax{
  text-decoration: none;
  border-bottom: 1px dotted;
}

.button{
  background: #0050b2;
  display: block;
  text-decoration: none;
  color:#FFF;
  padding:20px 20px;
  border-radius: 10px;
  box-shadow: inset 0 -5px 1px #003b86;
  margin:0 auto;
  text-align:center;
}
.button:hover{
  background: #013b86;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -198px 0; }
}
@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -198px 0; }
}
@-ms-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -198px 0; }
}
@-moz-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -198px 0; }
}
.loading{
  position: relative;
  overflow: hidden;
  cursor: default;
  background: #013b86;
}
.loading:active{
  margin-top:0;
}
.loading:before{
  content:'';
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/loading.png');
  animation: animatedBackground 3s linear infinite;
  -ms-animation: animatedBackground 3s linear infinite;
  -moz-animation: animatedBackground 3s linear infinite;
  -webkit-animation: animatedBackground 3s linear infinite;
}

#header{
  background: url('../images/blackPix.png');
  width: 100%;
  padding:60px 0;
  margin:0 auto;
  position: absolute;
  top:0;
  height: 200px;
}
#header a{
  color:#FFF;
  text-decoration: none;
  display: block;
  margin:0 auto;
  font-family: 'FiraSans Light';
  width:380px;
}
#header a span{font-size:60px;}
#header a p{font-size:41px;}
#content{
  margin:0 auto;
  margin-top:250px;
  width:380px;
  color:#333;
  z-index:2;
  overflow: hidden;
}
#content ul{margin-top:20px;}
#content ul li{
  padding:10px 0;
}
#content #wood{
  background: #FFF url('../images/backgroundWood.png');
  position: relative;
  padding:20px;
  box-shadow: inset 0 -7px 1px #b2885e, 0 3px 8px -3px #000;
  border-radius: 20px;
}
#content.insideWidth{
  width:960px;
}
#content #wood>div>div.content{
  padding:20px;
}

#content #wood>div p{
  margin-top:10px;
}
#content iframe{
  margin-bottom:40px;
}
#content img{
  width:100%;
}
#content #wood>div.whiteBlock{
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 3px 1px #b2885e;
  margin-bottom:20px;
  float:left;
  width:49%;
}
#content #wood>div.whiteBlockIndex{
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 3px 1px #b2885e;
  margin-bottom:20px;
  padding:20px;
}
div.whiteBlock:nth-child(odd){
  margin-left:2%;
}

#content #wood>div .name{
  font-size:30px;
  margin-top:40px;
  text-decoration: none;
  color:#333;
  display: block
}
#content #wood>div .avatar{
  border-radius: 100px;
  display: block;
  float:left;
  width:150px;
  height:150px;
  overflow: hidden;
  margin-right: 20px
}
#content #wood>div .avatarMin{
  border-radius: 100px;
  display: block;
  float:left;
  width:130px;
  height:130px;
  overflow: hidden;
  margin-bottom: 20px
}
#content #wood>div .avatarMin + .avatarMin{
  margin-left: 10px;
}

#content #wood>div .avatar img{
  width:100%;
}

#content #wood>div>a.facebook{
  background-image: url('../images/iconFacebook.png');
  background-repeat: no-repeat;
  background-position: 20px 15px;

  margin: 20px 0;
}

#wood .information{
  clear:both;
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:1px solid #CCC;
}
#content #wood .information h2{
  padding-top:10px;
}
#content #wood .information .avatarMin{
  margin-right:40px;
}
#copyright{
  margin-top:20px;
  padding:0 20px;
  color:#AAA;
}
#copyright .what{
  float:right;
}
#about{
  margin-top:20px;
  background: url('../images/blackPix.png');
  padding: 20px;
}

#about h1{
  margin-bottom:20px;
}
#footer{
  width:600px;
  margin:0 auto;
}
#footer a{
  display: block;
  float:left;
  margin:20px;
  margin-top:60px;
  opacity: 0.1
}
#footer a:hover{opacity: 1}
#footer a+a{margin-left:70px;}
#footer a.facebook{
  background:url('../images/iconFacebookBig.png') no-repeat;
  width:167px;
  height:33px;
  margin-top:90px;
}
#footer a.django{
  background:url('../images/iconDjango.png') no-repeat;
  width:123px;
  height:44px;
  margin-top:90px;
}
#footer a.djangdash{
  background:url('../images/iconDash.png') no-repeat;
  width:82px;
  height:88px;
  margin-left: 78px;
}

