{% extends 'base.html' %}

{% block content %}
    <div id="content" class="insideWidth">


        <div id="wood">
            <div class="whiteBlocks">
                <div class="content">
                    <h2 class="caption" style="border-bottom: none;">500</h2>
                    <center>
                        <iframe src="http://coub.com/embed/16eerhb?muted=false&amp;autostart=true&originalSize=false&hideTopBar=false&noSiteButtons=false&startWithHD=false"
                                allowfullscreen="true" frameborder="0" width="640" height="360"></iframe>
                    </center>
                </div>
            </div>

            <div class="clear"></div>
        </div>


        <div id="copyright">
            <a href="#" class="what ajax" id="toogleBlock" rel="about">What is it?</a>

            <p>&copy; 2013 for <a href="#">DjangoDash.com</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id="footer">
        <div id="about" class="hide">
            <iframe src="http://coub.com/embed/kp0jqk?muted=false&amp;autostart=true&originalSize=false&hideTopBar=false&noSiteButtons=false&startWithHD=false"
                    allowfullscreen="true" frameborder="0" width="100%" height="360"></iframe>

        </div>
        <a href="#" class="django"></a>
        <a href="#" class="djangdash"></a>
        <a href="#" class="facebook"></a>
    </div>
{% endblock %}