{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facepalm - Facebook mosaic </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/colorbox.css" %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>
</head>
<body>


<div id="layout">
		<div id="header">
			<a href="/">
				<span>FACEDASH.PW</span>
				<p>FACEBOOK INSIGHTS</p>
			</a>
		</div>
		{% block content %}

         {% endblock %}

	</div>


{% block footer %}
    <div id="footer">
        <div id="about" class="hide">

        </div>
        <a href="#" class="django"></a>
        <a href="#" class="djangdash"></a>
        <a href="#" class="facebook"></a>
    </div>
{% endblock %}

</body>
{% block extra_js %}
{% endblock %}
</html>